[mt5]
login = 
password = 
server = FBS-Real
; path = D:\mt5_terminal\FBS_02\terminal64.exe
; symbol_suffix = -ECN
tdv_ohlcv = off
tdv_market = OANDA

[line]
notify_token = 

[app_config]
;# สามารถข้ามส่วนนี้ไปได้ โดยใช้ค่าที่กำหนดให้ได้เลย
;TIME_SHIFT = 5
;# level การบันทึก log file ทั่วไปให้ใช้แบบ INFO
;# CRITICAL 50, ERROR 40, WARNING 30, INFO 20, DEBUG 10, NOTSET 0
LOG_LEVEL = 10
;# กำหนดรอบเวลาในการแสดง update balancec และ trailing stop
;# 0=timeframe, 1=10, 2=15, 3=20, 4=30, 5=60, 6=timeframe/2 
UB_TIMER_MODE = 2
;# กำหนดรอบเวลาในการ buy/sell หน่วยเป็นวินาที
TICK_TIMER = 1

[setting]
symbols = XAUUSD,XAGUSD
;# 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 6h, 12h, 1d
timeframe = 15m,5m

signal_index = -1
magic_number = 999222

lot = 0.01
deviation = 20
;# ใช้ค่ากลางระหว่าง bid ask ในการตรวจสัญญาน
;use_midprice = on
;# ตัวคูณค่าสเปรดสำหรับการเปิดสัญญาน
spread_factor = 2
validate_spread = off

atr_length = 4
atr_multiple = 0.75
; confirm_macd = off
macd_cross = on

martingale_mode = on
martingale_factor = 1.0
martingale_max = 16
;# ถ้า martingale_factor > 1.0 จะเป็นการเพิ่ม lot ตามเทคนิค martingale (ทวีคูณ)
;martingale_factor = 2.0
;martingale_max = 8

auto_tpsl = off
;# กำหนดค่าตาม symbols
;buy_sl = 99,99
;buy_tp = 199,199
;sell_sl = 99,99
;sell_tp = 199,199
;# สามารถกำหนดค่าเป็นเปอร์เซ็นต์ได้
buy_sl = 0.1%,0.2%
buy_tp = 1.0%,1.0%
sell_sl = 0.1%,0.2%
sell_tp = 1.0%,1.0%

; trailing_profit = on
trailing_stop = on