[mt5]
login = 
password = 
server = VTMarkets-Live
; path = D:\mt5_terminal\FBS_02\terminal64.exe
symbol_suffix = -VIP
tdv_ohlcv = off
tdv_market = OANDA

[line]
notify_token = 
chart_mode = off

[app_config]
;# สามารถข้ามส่วนนี้ไปได้ โดยใช้ค่าที่กำหนดให้ได้เลย
;TIME_SHIFT = 5
;# level การบันทึก log file ทั่วไปให้ใช้แบบ INFO
;# CRITICAL 50, ERROR 40, WARNING 30, INFO 20, DEBUG 10, NOTSET 0
LOG_LEVEL = 10
;# กำหนดรอบเวลาในการแสดง update balancec และ trailing stop
;# 0=timeframe, 1=10, 2=15, 3=20, 4=30, 5=60, 6=timeframe/2 
UB_TIMER_MODE = 2
;# กำหนดรอบเวลาในการ buy/sell หน่วยเป็นวินาที
TICK_TIMER = 1

[setting]
symbols = XAUUSD
;# 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 6h, 12h, 1d
timeframe = 1m

signal_index = -1
magic_number = 999222

;# lot สำหรับการเปิด orders ใหม่
lot = 0.01
deviation = 20

;# indicator setting
atr_length = 4
atr_multiple = 0.75


;# การคำนวณรวบ orders เพื่อป้องกันการเกิด DD
;# เปิด/ปิด การใช้งาน
save_balance_mode = on
;# กำหนดค่าเริ่มต้นของ init_balance ให้เป็นค่าเงินที่มีอยู่ใน account ในขณะที่เปิด EA ครั้งแรก
init_balance = 1330
;# กำหนดค่าเปอร์เซ็นต์ของผลกำไรที่ต้องการ
balance_profit_percent = 0.25


;# จำนวน orders ฝั่ง buy/sell สูงสุด
buy_limit = 3
sell_limit = 3
;# ระยะห่างของ orders ใหม่ หน่วยเป็น pip
order_space = 150
;# กำหนดวิธีการเปิด orders ใหม่ เป็น on/off, off=เปิดใหม่ทุกครั้ง, no=ปิด orders เก่า แล้วเปิดใหม่
single_position = off
;# จำนวน Lot ที่ใช้ในการเปิด order สุดท้ายเมื่อครบจำนวน orders ที่กำหนด
last_limit_lot = 0.02

;# กำหนดจำนวน recovery orders ที่จะเปิดใหม่ให้ น้องพายุ หรือ ea recovery อื่นๆ
rw_limit = 1
;# ค่า magic number สำหรับ recovery orders สามารถมีได้มากกว่า 1, น้องพายุใช้ 6689
rw_magic_numbers = 6689
;# เปิด/ปิด การใช้งาน recovery orders
storm_helper_mode = on

;# ระดับสัญญาน stoch สำหรับเปิด recovery orders ใหม่
sto_enter_long = 20
sto_enter_short = 80
;# ตัววัดระดับสัญญาน ถ้าเกินจาก step จะคูณ lot ตามขั้นระดับ ต.ย. sto_k > 90 (80+sto_step_factor) จะคูณ lot 2 เท่า
sto_step_factor = 10


;# เปิด/ปิด การใช้งาน martingale
martingale_mode = off
martingale_factor = 1.0
martingale_max = 16
;# ถ้า martingale_factor > 1.0 จะเป็นการเพิ่ม lot ตามเทคนิค martingale (ทวีคูณ)
;martingale_factor = 2.0
;martingale_max = 8

auto_tpsl = off

;# กำหนดค่า pip ตาม symbols
; buy_sl = 250,90
; buy_tp = 500,180
; sell_sl = 250,90
; sell_tp = 500,180
buy_sl = 0
buy_tp = 11
sell_sl = 0
sell_tp = 10

;# กำหนดค่า tp amount ตาม symbols หน่วยเป็น USD เท่านั้น
tp_amount = 0.5

;# สามารถกำหนดค่าเป็นเปอร์เซ็นต์ได้
; buy_sl = 0.25%,0.25%
; buy_tp = 0.75%,0.75%
; sell_sl = 0.25%,0.25%
; sell_tp = 0.75%,0.75%
